.benefits-section {
    max-width: 1300px;
    margin: 100px auto;
    padding: 2rem;
    text-align: center;
    color: var(--color-text);
    background-color: var(--color-background);
}

.benefits-content-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0;
}

.benefits-title {
    font-size: 2.7rem;
    font-weight: 700;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.benefits-title span {
    color: var(--color-accent, #1e90ff);
}

.benefits-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.benefit-card {
    background-color: #0b0b18;
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius);
    padding: 2rem 1.5rem;
    transition: 0.3s ease;
}

.benefit-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.benefit-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.benefit-card h3 {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--color-secondary);
    margin-bottom: 0.5rem;
}

.benefit-card p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-text);
}

.img {
    width: 56px;
}

.logo {
    width: 300px;
}

@media (max-width: 1300px) {
    .benefits-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1023px) {
    .benefits-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .benefits-container {
        grid-template-columns: 1fr;
    }

    .benefits-section {
        padding: 1.5rem;
    }

    .benefit-card {
        padding: 1.5rem;
    }

    .benefits-title {
        font-size: 1.6rem;
    }
}