.Carrusel-Container {
    margin-bottom: 4rem;
}

.carrusel {
    margin: 20px auto;
    width: 90%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 1rem;
    background-color: aqua;
}

.carrusel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    will-change: transform;
}

.content-card {
    flex: 0 0 85vw;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    scroll-snap-align: start;
}

.card {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 12px;
}

.swipe-hint {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@media (min-width: 900px) {
    .content-card {
        flex: 0 0 40em;
    }

    .group {
        animation: marquee 40s linear infinite;
    }

    .swipe-hint {
        display: none;
    }
}

@media (max-width: 899px) {
    .group {
        animation: none !important;
        transform: none !important;
    }
}