.carrusel {
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
}

.carrusel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 40s infinite linear;
}


.card {
    flex: 0 0 40em;
    height: 40em;
    padding: 1em;
}

@keyframes spin {
    for {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}

@media (max-width: 899px) {
    .card {
        flex: 0 0 85vw;
        height: auto;
        max-height: 250px;
        padding: 0.4em;
    }
}