.carrusel {
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.carrusel::-webkit-scrollbar {
    display: none;
}

.content-card {
    width: 100%;
    flex: 0 0 auto;
    margin: 2rem auto 0;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 40s infinite linear;
    -webkit-animation: spin 40s infinite linear;
    padding-right: 1em;
    will-change: transform;
    flex-wrap: nowrap;
}

.card {
    max-width: 100%;
    flex-shrink: 0;
    display: block;
    object-fit: cover;
}

@keyframes spin {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@media(max-width: 799px) {
    .content-card {
        flex: 0 0 25em;
        padding: .4rem;
    }

    .card {
        max-height: 220px;
        object-fit: cover;
        border-radius: 12px;
    }
}