.carrusel {
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
}

.carrusel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 40s infinite linear;
}

.content-card {
    border-radius: 20px;
    overflow: hidden;
}

.card {
    flex: 0 0 40em;
    height: 40em;
    padding: 1em;
    border-radius: 1rem;
}

@keyframes spin {
    for {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}