@import "../styles/variables.css";

.cta-section {
    color: var(--color-white);
    text-align: center;
    padding: 5rem 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.cta-content {
    max-width: 800px;
    margin: 0 auto;
}

.cta-content h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 1rem;
}

.cta-content p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 2rem;
}

.title {
    font-weight: 600;

    color: var(--color-secondary);
}


@media (max-width: 768px) {
    .cta-content h2 {
        font-size: 1.8rem;
    }

    .cta-content p {
        font-size: 1.1rem;
    }
}