.footer {
    background-color: #02072B;
    width: 100%;
    padding: 2.5rem 4rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.footer-img img {
    width: 160px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .75rem;
}

.terms-links {
    display: flex;
    gap: 1.2rem;
}

.terms-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    transition: .3s;
}

.terms-links a:hover {
    border-bottom-color: #fff;
}

.footer-links p {
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
}

.contact-links img {
    width: 32px;
    transition: .3s ease;
}

.contact-links img:hover {
    width: 36px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    gap: .5rem;
}

.footer-contact h3 {
    text-align: center;
}

.footer-contact input {
    padding: .4rem .8rem;
    border-radius: 6px;
    border: none;
    width: 80%;
    max-width: 240px;
}

@media (max-width: 1023px) and (min-width: 768px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        text-align: center;
        padding: 2rem;
    }

    .footer-contact {
        grid-column: span 2;
        align-items: center;
        text-align: center;
    }

    .footer-img,
    .footer-contact {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .footer {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 2rem 1rem;
        gap: 2rem;
    }

    .footer-img {
        justify-content: center;
    }

    .footer-contact {
        align-items: center;
        text-align: center;
    }

    .terms-links {
        flex-direction: column;
        gap: .25rem;
    }
}