@import './variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: 1.6;
}

h1,
h2,
h3 {
    color: var(--color-text);
    font-weight: 600;
}

button {
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    color: white;
    padding: 12px 24px;
    font-weight: 600;
    transition: 0.3s ease;
}

button:hover {
    background-color: #1426A3;
}