@import "../styles/variables.css";

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 8px 25px var(--color-primary);
}

.modal-title {
    color: var(--color-primary);
}

.moda-subtitle {
    color: var(--color-primary);
}

.close {
    float: right;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    color: var(--color-secondary);
}


form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

form button {
    margin-top: 1rem;
}

input,
select {
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-primary);
}

input:focus,
select:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 6px rgba(10, 23, 115, 0.4);
}

.loader-center {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2.5px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    vertical-align: middle;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

button[disabled] {
    opacity: 0.8;
    cursor: not-allowed;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1rem 1.5rem;
    border-radius: 0.6rem;
    color: var(--color-white);
    font-weight: 500;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s ease;
    z-index: 9999;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.success {
    background-color: var(--color-primary);
}

.toast.error {
    background-color: #e63946;
}