@import './variables.css';

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;

}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 30px;
    padding-right: 10px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: var(--color-white);
    box-shadow: #03d56886 0 2px 12px -5px;

}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.navbar-logo {
    width: 120px;
    height: 60px;
}


.navbar-links a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    margin: 0 10px;

}

.navbar-links a:hover {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

.navbar-btn {
    font-family: var(--font-main);
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
}


.navbar-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-primary);
    padding: 0.5rem;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.navbar-toggle:hover {
    background: rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
    .navbar {
        position: static;
    }

    .navbar-container {
        flex-wrap: wrap;
        padding: 0.5rem 1rem;
    }

    .navbar-logo {
        width: 100px;
        height: 50px;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-top: 0.5rem;
    }


    .navbar-links.show {
        display: flex;
    }

    .navbar-links a {
        width: 100%;
        font-size: 1rem;
        font-weight: 600;
        color: var(--color-primary);
    }

    .navbar-btn {
        width: 100%;
        margin-top: 0.5rem;
        padding: 10px;
        font-size: 0.95rem;
    }

    .navbar-right {
        width: 100%;
    }
}