@import './variables.css';

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 30px;
    padding-right: 10px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: var(--color-white);
    box-shadow: #03d56886 0 2px 12px -5px;

}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.navbar-logo {
    width: 120px;
    height: 60px;
}


.navbar-links a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    margin: 0 10px;

}

.navbar-links a:hover {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

/*Button*/
.navbar-btn {
    font-family: var(--font-main);
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
}

/* .navbar-btn:hover {
    background-color: var(--color-white);
    color: var(--color-primary)
} */