@import "./variables.css";

.problems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.2rem;
    text-align: center;
}

.problems-text {
    max-width: 600px;
}

.problems-subtitle {
    color: var(--color-secondary);
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: .9rem;
}

.problems-title {
    color: var(--color-white);
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 1.3;
}

.problems-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.problems-card-1,
.problems-card-2,
.problems-card-3 {
    background-color: #03d5681c;
    border: 1px solid var(--color-secondary);
    border-radius: 1rem;
    padding: 1.2rem;
    text-align: left;
}

.problems-card-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

.header-logo {
    padding: 1rem 0;
}

.logo {
    width: 160px;
}

.problems-card-content {
    background: var(--color-primary);
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: left;
}

.subtitle {
    font-size: 15px;
    margin-bottom: 1rem;
    line-height: 1.5;
    color: #e2e2e2;
}

.feature-list {
    list-style: none;
    padding: 0;
}

.feature-list li {
    margin: 8px 0;
    font-size: 15px;
    display: flex;
    gap: 6px;
}

.check {
    color: var(--color-secondary);
    font-size: 18px;
}

@media (min-width: 768px) {
    .problems-title {
        font-size: 2.4rem;
    }

    .problems-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

    .problems-card-4 {
        grid-column: span 2;
    }
}

@media (min-width: 1024px) {
    .problems {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 4rem;
    }

    .problems-text {
        width: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .problems-title {
        font-size: 3.2rem;
        max-width: 820px;
        margin: 0 auto;
        line-height: 1.2;
        text-align: center;
    }

    .problems-content {
        margin: 4rem 8rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem 4rem;
        padding: 0 14rem;
    }

    .problems-card-1 {
        grid-row: 1;
    }

    .problems-card-2 {
        grid-row: 2;
    }

    .problems-card-3 {
        grid-row: 3;
    }

    .problems-card-4 {
        grid-column: 2;
        grid-row: 1 / span 3;
        margin: 0;
    }

    .logo {
        width: 80%;
    }
}