:root {
    --color-primary: #0A1773;
    --color-secondary: #03D56A;
    --color-background: #010314;
    --color-text: #ececec;
    --color-white: #ffffff;
    --color-text-light: #6B7280;
    --border-radius: 8px;
    --shadow-card: 0 2px 6px rgba(0, 0, 0, 0.1);
    --font-main: 'Montserrat', sans-serif;
}