---
import "../styles/benefits.css";
---

<section class="benefits-section" id="beneficios">
    <div class="benefits-content-title">
        <h2 class="benefits-title">Por qué los negocios están quieren a</h2>
        <img class="logo" src="./Logo3.0.svg" alt="icono" />
    </div>

    <div class="benefits-container">
        <div class="benefit-card">
            <div class="benefit-icon">
                <img class="img" src="./time.png" alt="icono" />
            </div>
            <h3>Ahorra tiempo</h3>
            <p>
                Registra compras en segundos, sin sellos ni papeles. Simplifica
                la fidelización de tus clientes.
            </p>
        </div>

        <div class="benefit-card">
            <div class="benefit-icon">
                <img class="img" src="./perdidas.png" alt="icono" />
            </div>
            <h3>Evita pérdidas</h3>
            <p>
                Los puntos y recompensas de tus clientes se guardan de forma
                segura en la nube, sin riesgo de extravío.
            </p>
        </div>

        <div class="benefit-card">
            <div class="benefit-icon">
                <img class="img" src="./grafica.png" alt="icono" />
            </div>
            <h3>Fideliza más</h3>
            <p>
                Haz que tus clientes regresen más seguido con recompensas
                automáticas y personalizadas.
            </p>
        </div>

        <div class="benefit-card">
            <div class="benefit-icon">
                <img class="img" src="./clientes.png" alt="icono" />
            </div>
            <h3>Conoce a tus clientes</h3>
            <p>
                Descubre quiénes son tus compradores más fieles y toma
                decisiones basadas en datos reales.
            </p>
        </div>
    </div>
</section>
