---
import "../styles/carrusel.css";
---

<section class="Carrusel-Container" id="funcionamiento">
    <div class="carrusel">
        <div class="group">
            <div class="content-card">
                <img class="card" src="./fideliza.png" alt="fideliza+" />
            </div>
            <div class="content-card">
                <img class="card" src="./clientes1.png" alt="fideliza+" />
            </div>
            <div class="content-card">
                <img class="card" src="./clientes2.png" alt="fideliza+" />
            </div>
            <div class="content-card">
                <img class="card" src="./recompensas.png" alt="fideliza+" />
            </div>
            <div class="content-card">
                <img class="card" src="./informes.png" alt="fideliza+" />
            </div>
        </div>
        <div aria-hidden class="group">
            <div class="content-card">
                <img class="card" src="./fideliza.png" alt="fideliza+" />
            </div>
            <div class="content-card">
                <img class="card" src="./clientes1.png" alt="fideliza+" />
            </div>
            <div class="content-card">
                <img class="card" src="./clientes2.png" alt="fideliza+" />
            </div>
            <div class="content-card">
                <img class="card" src="./recompensas.png" alt="fideliza+" />
            </div>
            <div class="content-card">
                <img class="card" src="./informes.png" alt="fideliza+" />
            </div>
        </div>
    </div>
</section>
