---
import "../styles/cta.css";
---

<section class="cta-section">
    <div class="cta-content">
        <h2>Moderniza tu programa de recompensas hoy.</h2>
        <p>
            Únete a la lista y sé de los primeros en probar <span class="title">
                Fideliza+</span
            >.
        </p>
        <button class="navbar-btn" id="open-modal">Únete a la lista</button>
    </div>
</section>
