---
import "../styles/footer.css";
---

<footer class="footer">
    <div class="footer-img">
        <img src="./Logo3.0.svg" alt="Fideliza+" />
    </div>
    <div class="footer-links">
        <div class="contact-links">
            <a
                href="https://wa.me/523221575991?text=Hola%20tengo%20un%20negocio%20y%20me%20interesa%20su%20sistema%20para%20dar%20puntos%20y%20recompensas%20a%20mis%20clientes.%0A%C2%BF%C2%A0C%C3%B3mo%20funciona%20y%20cu%C3%A1nto%20cuesta%3F"
                target="_blank"
                rel="noopener noreferrer"
                ><img src="./iconWhats.png" alt="whatsapp" /></a
            >
        </div>
        <div class="terms-links">
            <a href="">Términos de servicio</a>
            <a href="">Política de privacidad</a>
        </div>
        <p>© 2025 Fideliza. Todos los derechos reservados.</p>
    </div>
    <div class="footer-contact">
        <h3>Software a tu medida. Contactanos</h3>
        <input type="text" name="" id="" />
    </div>
</footer>
