---
import "../styles/hero.css";
import Modal from "./Modal.astro";
---

<section class="hero">
    <div class="hero-text">
        <h1 class="hero-title">
            <span class="line">Tus clientes no deberían perder</span><br />
            <span class="line"
                >sus <span id="changing-word" class="resalt-Text"
                    >recompensas</span
                ></span
            ><br />
            <span class="line">por una tarjeta olvidada.</span>
        </h1>
        <p class="hero-subtitle">
            Digitaliza tus recompensas y asegura que cada <span
                class="text-subtitle">cliente</span
            > mantenga su historial de puntos, sin pérdidas ni confusiones.
        </p>
        <button class="hero-btn" data-modal="open">Únete a la lista</button>
    </div>
    <div class="mockup-wrapper">
        <img class="image" src="/fideliza.png" alt="soft fideliza" />
    </div>
</section>
<Modal />
<script src="/js/words.js" defer></script>
