---
import "../styles/hero.css";
---

<section class="hero">
    <div class="hero-text">
        <h1 class="hero-title">
            <span class="line">Tus clientes no deberían perder</span><br />
            <span class="line"
                >sus <span id="changing-word" class="resalt-Text"
                    >recompensas</span
                ></span
            ><br />
            <span class="line">por una tarjeta olvidada.</span>
        </h1>
        <p class="hero-subtitle">
            Digitaliza tus recompensas y asegura que cada <span
                class="text-subtitle">cliente</span
            > mantenga su historial de puntos, sin pérdidas ni confusiones.
        </p>
        <button class="hero-btn" id="open-modal2">Únete a la lista</button>
    </div>
    <div class="mockup-wrapper">
        <img class="image" src="/fideliza.png" alt="soft fideliza" />
    </div>
</section>

<div id="form-modal2" class="modal">
    <div class="modal-content">
        <span id="close-modal2" class="close">&times;</span>
        <h2 class="modal-title">Únete a la lista de espera</h2>

        <form id="waitlist-form2">
            <label class="moda-subtitle">Nombre completo</label>
            <input type="text" name="name" placeholder="Tu nombre" required />

            <label class="moda-subtitle">Teléfono</label>
            <input
                type="tel"
                name="phone"
                placeholder="Tu número de teléfono"
                required
            />

            <label class="moda-subtitle">Tipo de software</label>
            <select name="preference" required>
                <option value="" disabled selected>Selecciona una opción</option
                >
                <option value="web">Web</option>
                <option value="mobile">Móvil</option>
                <option value="desktop">Escritorio</option>
            </select>

            <button type="submit">Enviar</button>
        </form>
    </div>
</div>

<script src="/js/modal2.js" defer></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const words = [
            { text: "recompensas", color: "#03D56A" },
            { text: "puntos", color: "#007bff" },
            { text: "beneficios", color: "#ffb400" },
            { text: "premios", color: "#ff4d4d" },
        ];

        const span = document.getElementById("changing-word");
        if (!span) return;

        let index = 0;

        span.style.backgroundColor = words[index].color;

        setInterval(() => {
            span.classList.add("fade-out");
            setTimeout(() => {
                index = (index + 1) % words.length;
                span.textContent = words[index].text;
                span.style.backgroundColor = words[index].color;
                span.classList.remove("fade-out");
            }, 400);
        }, 2000);
    });
</script>
