---
import "../styles/navbar.css";
import Modal from "./Modal.astro";
---

<header class="navbar">
    <div class="navbar-container">
        <div class="navbar-left">
            <img src="/Logo2.0.svg" alt="Fideliza+ Logo" class="navbar-logo" />
        </div>
        <div class="navbar-toggle" id="navbar-toggle">☰</div>
        <nav class="navbar-links" id="navbar-links">
            <a href="/">Inicio</a>
            <a href="#beneficios">Beneficios</a>
            <a href="#preguntas">Preguntas Frecuentes</a>
        </nav>

        <div class="navbar-right">
            <button class="navbar-btn" data-modal="open"
                >Únete a la lista</button
            >
        </div>
    </div>
</header>

<Modal />

<script src="/js/navbar.js" defer></script>
