---
import "../styles/navbar.css";
---

<header class="navbar">
    <div class="navbar-container">
        <div class="navbar-left">
            <img src="/Logo2.0.svg" alt="Fideliza+ Logo" class="navbar-logo" />
        </div>

        <nav class="navbar-links">
            <a href="/">Inicio</a>
            <a href="#function">Funcionamiento</a>
            <a href="#caracteriticas">Características</a>
        </nav>

        <div class="navbar-right">
            <button class="navbar-btn">Unete a la lista</button>
        </div>
    </div>
</header>
