---
import "../styles/global.css";
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="language" content="Spanish" />
		<meta name="author" content="Fideliza+" />
		<meta name="robots" content="index, follow" />

		<title>Fideliza+ | Sistema de Fidelización Digital para Negocios</title>
		<meta
			name="description"
			content="Fideliza+ es un software de fidelización digital que reemplaza las tarjetas físicas. Registra clientes, otorga puntos y recompensas sin perder su progreso."
		/>
		<meta
			name="keywords"
			content="fidelización, puntos, recompensas, clientes, negocios, software, tarjetas digitales, fideliza plus"
		/>
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_MX" />
		<meta property="og:site_name" content="Fideliza+" />
		<meta
			property="og:title"
			content="Fideliza+ | Sistema de Fidelización Digital"
		/>
		<meta
			property="og:description"
			content="Digitaliza tu programa de recompensas. Con Fideliza+ tus clientes nunca perderán sus puntos."
		/>
		<meta property="og:url" content="https://fideliza.app/" />
		<meta property="og:image" content="/preview-fideliza.jpg" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="Fideliza+ | Sistema de Fidelización"
		/>
		<meta
			name="twitter:description"
			content="Reemplaza las tarjetas físicas y asegura que tus clientes no pierdan sus puntos."
		/>
		<meta name="twitter:image" content="/fideliza.png" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/svg+xml" href="/Logo1.0.svg" />
	</head>

	<body>
		<slot />
	</body>
</html>
